@page "/currencies"

@inject ApiService ApiService
@inject NavigationManager Navigation
@inject PaginationService<Waehrung> PaginationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService
@inject ModalService ModalService

@attribute [Authorize]

<PageTitle>Währungen | ACC Web UI</PageTitle>

<div class="mb-3 d-flex justify-content-between align-items-center">
    <h1>Währungen</h1>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary"><Icon Name="IconName.Plus" /> Neue Währung</Button>
</div>

<div class="table-responsive card shadow-sm border mb-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ISO-Code</th>
                <th scope="col">Name</th>
                <th scope="col">Zeichen</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (IsLoading)
            {
                <tr>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            }
            else
            {
                if (PaginationService.TotalItems == 0)
                {
                    <tr>
                        <td colspan="6">
                            <Icon Color="IconColor.Danger" Name="IconName.ExclamationTriangleFill" />
                            Keine Währungen gefunden
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (Waehrung currency in Currencies)
                    {
                        <tr>
                            <td>
                                @currency.WaehrungID
                            </td>
                            <td>
                                @currency.WaehrungISO
                            </td>
                            <td>
                                @currency.WaehrungName
                            </td>
                            <td>
                                @currency.WaehrungZeichen
                            </td>
                            <td>
                                <Tooltip Class="d-inline-block" Title="Edit" role="button">
                                    <Button Type="ButtonType.Link" @onclick="() => Edit(currency.WaehrungID)" Color="ButtonColor.Primary"><Icon Name="IconName.PencilSquare" /></Button>
                                </Tooltip>
                                <Tooltip Class="d-inline-block" Title="Delete" role="button">
                                    <Button Type="ButtonType.Link" @onclick="() => Delete(currency.WaehrungID)" Color="ButtonColor.Danger"><Icon Name="IconName.Trash" /></Button>
                                </Tooltip>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

@if (Currencies != null && PaginationService.TotalItems > 0)
{
    <div class="btn-group" role="group" aria-label="Pagination">
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToFirstPage" Disabled="PaginationService.CurrentPage == 1"><Icon Name="IconName.SkipBackward" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToPreviousPage" Disabled="PaginationService.CurrentPage == 1"><Icon Name="IconName.CaretLeft" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary"><b>@PaginationService.CurrentPage</b></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToNextPage" Disabled="!PaginationService.HasNextPage"><Icon Name="IconName.CaretRight" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToLastPage" Disabled="PaginationService.CurrentPage == PaginationService.TotalPages"><Icon Name="IconName.SkipForward" /></Button>
    </div>
    <span>
        @($"{(PaginationService.CurrentPage - 1) * PaginationService.PageSize + 1} - {Math.Min(PaginationService.CurrentPage * PaginationService.PageSize, PaginationService.TotalItems)} von {PaginationService.TotalItems} Ergebnisse(n) auf insgesamt {PaginationService.TotalPages} Seite(n)")
    </span>
}

@code {
    // Initialize method
    private bool IsLoading = true;

    private ClaimsPrincipal AuthenticatedUser;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        AuthenticatedUser = authState.User;

        await GetData();
    }

    // Entity actions
    protected void Create() => Navigation.NavigateTo("currencies/create");
    protected void Edit(int WaehrungID) => Navigation.NavigateTo($"currencies/{WaehrungID}/edit");

    protected async Task Delete(int WaehrungID)
    {
        await ApiService.DeleteAsync<Waehrung>(WaehrungID);

        ToastService.Notify(
            new ToastMessage()
                {
                    Type = ToastType.Success,
                    IconName = IconName.Coin,
                    Title = "Währung",
                    HelpText = DateTime.Now.ToString(),
                    Message = "Währung erfolgreich gelöscht",
                }
        );

        await GetData();
    }

    // Entity
    public IEnumerable<Waehrung> Currencies;

    private async Task GetData()
    {
        IsLoading = true;

        ApiService.InitializeEndpoint(ResourceEndpoint.currencies);
        PaginationService.InitializePagination();

        Currencies = await PaginationService.LoadPaginatetedData();
        IsLoading = false;
    }

    // Entity pagination
    private async Task GoToFirstPage()
    {
        Currencies = await PaginationService.GoToPage(1);
    }

    private async Task GoToNextPage()
    {
        Currencies = await PaginationService.GoToPage(PaginationService.CurrentPage + 1);
    }

    private async Task GoToPreviousPage()
    {
        Currencies = await PaginationService.GoToPage(PaginationService.CurrentPage - 1);
    }

    private async Task GoToLastPage()
    {
        Currencies = await PaginationService.GoToPage(PaginationService.TotalPages);
    }
}
