@page "/incoming_invoices"

@inject ApiService ApiService
@inject NavigationManager Navigation
@inject PaginationService<Eingangsrechnung> PaginationService

@attribute [Authorize]

<PageTitle>Eingangsrechnungen | ACC Web UI</PageTitle>

<div class="mb-3 d-flex justify-content-between align-items-center">
    <h1>Eingangsrechnungen</h1>
    <Button Type="ButtonType.Link" To="/incoming_invoices/create" Color="ButtonColor.Primary"><Icon Name="IconName.Plus" /> Neue Eingangsrechnung</Button>
</div>

<div class="table-responsive">
    <table class="table table-hover shadow-sm border">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rechnungsdatum</th>
                <th scope="col">Bezahldatum</th>
                <th scope="col">Kreditor</th>
                <th scope="col">Rechnungsbetrag</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (IsLoading)
            {
                <tr>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                if (PaginationService.TotalItems == 0)
                {
                    <tr>
                        <td colspan="6">
                            <Icon Color="IconColor.Danger" Name="IconName.ExclamationTriangleFill" />
                            Keine Eingangsrechnungen gefunden
                        </td>
                    </tr>
                } 
                else
                {
                    @foreach (Eingangsrechnung incoming_invoice in IncomingInvoices)
                    {
                        <tr>
                            <td>@incoming_invoice.RechnungsNummer</td>
                            <td>@incoming_invoice.RechnungsDatum.ToShortDateString()</td>
                            <td>@incoming_invoice.BezahltDatum.GetValueOrDefault().ToShortDateString()</td>
                            <td>@incoming_invoice.ZugehoerigerKreditor.Anschrift</td>
                            <td>@incoming_invoice.Rechnungspositionen.Sum(rp => rp.Nettobetrag).ToString("N2") @incoming_invoice.ZugehoerigeWaehrung.WaehrungZeichen</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <Button Type="ButtonType.Link" @onclick="() => Edit(incoming_invoice.EingangsrechnungID)" Color="ButtonColor.Primary"><Icon Name="IconName.PencilSquare" /></Button>
                                    <Button Type="ButtonType.Link" @onclick="() => Show(incoming_invoice.EingangsrechnungID)" Color="ButtonColor.Primary"><Icon Name="IconName.Eye" /></Button>
                                    <Button Type="ButtonType.Link" @onclick="() => Delete(incoming_invoice.EingangsrechnungID)" Color="ButtonColor.Danger"><Icon Name="IconName.Trash" /></Button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

@if (IncomingInvoices != null && PaginationService.TotalItems > 0)
{
    <div class="btn-group" role="group" aria-label="Pagination">
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToFirstPage" Disabled="PaginationService.CurrentPage == 1"><Icon Name="IconName.SkipBackward" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToPreviousPage" Disabled="PaginationService.CurrentPage == 1"><Icon Name="IconName.CaretLeft" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary"><b>@PaginationService.CurrentPage</b></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToNextPage" Disabled="!PaginationService.HasNextPage"><Icon Name="IconName.CaretRight" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToLastPage" Disabled="PaginationService.CurrentPage == PaginationService.TotalPages"><Icon Name="IconName.SkipForward" /></Button>
    </div>
    <span>
        @($"{(PaginationService.CurrentPage - 1) * PaginationService.PageSize + 1} - {Math.Min(PaginationService.CurrentPage * PaginationService.PageSize, PaginationService.TotalItems)} von {PaginationService.TotalItems} Ergebnisse(n) auf insgesamt {PaginationService.TotalPages} Seite(n)")
    </span>
}

@code {
    // Initialize method
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        ApiService.InitializeEndpoint("http://localhost:32771/", ResourceEndpoint.incoming_invoices);
        PaginationService.InitializePagination();

        IncomingInvoices = await PaginationService.LoadPaginatetedData();
        IsLoading = false;
    }

    // Entity actions
    protected void Create() => Navigation.NavigateTo("incoming_invoices/create");
    protected void Edit(int EingangsrechnungID) => Navigation.NavigateTo($"incoming_invoices/{EingangsrechnungID}/edit");
    protected void Show(int EingangsrechnungID) => Navigation.NavigateTo($"incoming_invoices/{EingangsrechnungID}");
    protected async Task Delete(int EingangsrechnungID) => await ApiService.DeleteAsync<Eingangsrechnung>(EingangsrechnungID);

    // Entity
    public IEnumerable<Eingangsrechnung> IncomingInvoices;

    // Entity pagination
    private async Task GoToFirstPage()
    {
        IncomingInvoices = await PaginationService.GoToPage(1);
    }

    private async Task GoToNextPage()
    {
        IncomingInvoices = await PaginationService.GoToPage(PaginationService.CurrentPage + 1);
    }

    private async Task GoToPreviousPage()
    {
        IncomingInvoices = await PaginationService.GoToPage(PaginationService.CurrentPage - 1);
    }

    private async Task GoToLastPage()
    {
        IncomingInvoices = await PaginationService.GoToPage(PaginationService.TotalPages);
    }
}
