@page "/outgoing_invoices"

@inject ApiService ApiService
@inject NavigationManager Navigation
@inject PaginationService<Ausgangsrechnung> PaginationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService

@attribute [Authorize]

<PageTitle>Ausgangsrechnungen | ACC Web UI</PageTitle>

<div class="mb-3 d-flex justify-content-between align-items-center">
    <h1>Ausgangsrechnungen</h1>
    <Button Type="ButtonType.Link" To="/outgoing_invoices/create" Color="ButtonColor.Primary"><Icon Name="IconName.Plus" /> Neue Ausgangsrechnung</Button>
</div>

<div class="card shadow-sm border mb-3 p-3">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label clss="col-form-label">Status: </label>
        </div>
        <div class="col-auto">
            <InputSelect class="form-select"
                         ValueExpression="@(() => SelectedStatus)"
                         Value="@SelectedStatus"
                         ValueChanged="@((OutgoingInvoiceStatus value) => StatusChanged(value))">
                @foreach (OutgoingInvoiceStatus item in Enum.GetValues(typeof(OutgoingInvoiceStatus)))
                {
                    <option value="@item">@item</option>
                }
            </InputSelect>
        </div>
    </div>
</div>

<div class="table-responsive card shadow-sm border mb-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rechnungsdatum</th>
                <th scope="col">Bezahldatum</th>
                <th scope="col">Rechnungsempfaenger</th>
                <th scope="col">Rechnungsbetrag</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (IsLoading)
            {
                <tr>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            }
            else
            {
                if (PaginationService.TotalItems == 0)
                {
                    <tr>
                        <td colspan="6">
                            <Icon Color="IconColor.Danger" Name="IconName.ExclamationTriangleFill" />
                            Keine Ausgangsrechnung gefunden
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (Ausgangsrechnung outgoing_invoice in OutgoingInvoices)
                    {
                        <tr>
                            <td>
                                @if (outgoing_invoice.RechnungsNummer == null)
                                {
                                    <Badge Color="BadgeColor.Danger">offen</Badge>
                                }
                                else
                                {
                                    @outgoing_invoice.RechnungsNummer
                                }
                            </td>
                            <td>
                                @if (outgoing_invoice.RechnungsNummer == null)
                                {
                                    <Badge Color="BadgeColor.Danger">offen</Badge>
                                }
                                else
                                {
                                    @outgoing_invoice.RechnungsDatum.ToShortDateString()
                                }
                            </td>
                            <td>
                                @if (outgoing_invoice.BezahltDatum == null)
                                {
                                    <Badge Color="BadgeColor.Danger">offen</Badge>
                                }
                                else
                                {
                                    @outgoing_invoice.BezahltDatum.GetValueOrDefault().ToShortDateString()
                                }
                            </td>
                            <td>@outgoing_invoice.Rechnungsempfaenger?.Anschrift</td>
                            <td>@outgoing_invoice.Rechnungspositionen.Sum(rp => rp.Nettobetrag).ToString("N2") @outgoing_invoice.ZugehoerigeWaehrung?.WaehrungZeichen</td>
                            <td>
                                @if (outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie == null || !outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie.Any())
                                {
                                    <Tooltip Class="d-inline-block" Title="Review" role="button">
                                        <Button Type="ButtonType.Link" @onclick="() => Reviewed(outgoing_invoice.AusgangsrechnungID)" Color="ButtonColor.Primary"><Icon Name="IconName.CheckCircle" /></Button>
                                    </Tooltip>
                                }
                                @if (outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie != null && outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie.Any() && outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie.Any(hist => hist.Status == OutgoingInvoiceStatus.Reviewed))
                                {
                                    <Tooltip Class="d-inline-block" Title="Release" role="button">
                                        <Button Type="ButtonType.Link" @onclick="() => Released(outgoing_invoice.AusgangsrechnungID)" Color="ButtonColor.Primary"><Icon Name="IconName.BoxArrowUpRight" /></Button>
                                    </Tooltip>
                                }
                                @if (outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie != null && outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie.Any() && outgoing_invoice.ZugehoerigeAusgangsrechnungshistorie.Any(hist => hist.Status == OutgoingInvoiceStatus.Released))
                                {
                                    <Tooltip Class="d-inline-block" Title="Sent" role="button">
                                        <Button Type="ButtonType.Link" @onclick="() => Sent(outgoing_invoice.AusgangsrechnungID)" Color="ButtonColor.Primary"><Icon Name="IconName.Envelope" /></Button>
                                    </Tooltip>
                                }
                                <Tooltip Class="d-inline-block" Title="Edit" role="button">
                                    <Button Type="ButtonType.Link" @onclick="() => Edit(outgoing_invoice.AusgangsrechnungID)" Color="ButtonColor.Primary"><Icon Name="IconName.PencilSquare" /></Button>
                                </Tooltip>
                                <Tooltip Class="d-inline-block" Title="Show" role="button">
                                    <Button Type="ButtonType.Link" @onclick="() => Show(outgoing_invoice.AusgangsrechnungID)" Color="ButtonColor.Primary"><Icon Name="IconName.Eye" /></Button>
                                </Tooltip>
                                <Tooltip Class="d-inline-block" Title="Delete" role="button">
                                    <Button Type="ButtonType.Link" @onclick="() => Delete(outgoing_invoice.AusgangsrechnungID)" Color="ButtonColor.Danger"><Icon Name="IconName.Trash" /></Button>
                                </Tooltip>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

@if (OutgoingInvoices != null && PaginationService.TotalItems > 0)
{
    <div class="btn-group" role="group" aria-label="Pagination">
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToFirstPage" Disabled="PaginationService.CurrentPage == 1"><Icon Name="IconName.SkipBackward" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToPreviousPage" Disabled="PaginationService.CurrentPage == 1"><Icon Name="IconName.CaretLeft" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary"><b>@PaginationService.CurrentPage</b></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToNextPage" Disabled="!PaginationService.HasNextPage"><Icon Name="IconName.CaretRight" /></Button>
        <Button Type="ButtonType.Link" Size="Size.Small" Color="ButtonColor.Secondary" @onclick="GoToLastPage" Disabled="PaginationService.CurrentPage == PaginationService.TotalPages"><Icon Name="IconName.SkipForward" /></Button>
    </div>
    <span>
        @($"{(PaginationService.CurrentPage - 1) * PaginationService.PageSize + 1} - {Math.Min(PaginationService.CurrentPage * PaginationService.PageSize, PaginationService.TotalItems)} von {PaginationService.TotalItems} Ergebnisse(n) auf insgesamt {PaginationService.TotalPages} Seite(n)")
    </span>
}

@code {
    // Initialize method
    private bool IsLoading = true;

    private OutgoingInvoiceStatus SelectedStatus;

    private ClaimsPrincipal AuthenticatedUser;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        AuthenticatedUser = authState.User;

        await GetData();
    }

    // Entity actions
    protected async Task Released(int AusgangsrechnungID)
    {
        ApiService.InitializeEndpoint(ResourceEndpoint.outgoing_invoices);
        Ausgangsrechnung OutgoingInvoice = await ApiService.GetByIdAsync<Ausgangsrechnung>(AusgangsrechnungID);

        OutgoingInvoice.ZugehoerigeAusgangsrechnungshistorie.Add(new()
            {
                Status = OutgoingInvoiceStatus.Released,
                Zeitstempel = DateTime.Now,
                Benutzer = AuthenticatedUser.Identity?.Name
            });

        ToastService.Notify(
            new ToastMessage()
                {
                    Type = ToastType.Success,
                    IconName = IconName.FileEarmarkCheck,
                    Title = "Ausgangsrechnung",
                    HelpText = DateTime.Now.ToString(),
                    Message = "Ausgangsrechnung erfolgreich freigegeben",
                }
        );

        await GetData();
    }

    protected async Task Reviewed(int AusgangsrechnungID)
    {
        ApiService.InitializeEndpoint(ResourceEndpoint.outgoing_invoices);
        Ausgangsrechnung OutgoingInvoice = await ApiService.GetByIdAsync<Ausgangsrechnung>(AusgangsrechnungID);

        OutgoingInvoice.ZugehoerigeAusgangsrechnungshistorie.Add(new()
            {
                Status = OutgoingInvoiceStatus.Reviewed,
                Zeitstempel = DateTime.Now,
                Benutzer = AuthenticatedUser.Identity?.Name
            });

        ToastService.Notify(
            new ToastMessage()
                {
                    Type = ToastType.Success,
                    IconName = IconName.FileEarmarkCheck,
                    Title = "Ausgangsrechnung",
                    HelpText = DateTime.Now.ToString(),
                    Message = "Ausgangsrechnung erfolgreich geprüft",
                }
        );

        await GetData();
    }

    protected async Task Sent(int AusgangsrechnungID)
    {
        ApiService.InitializeEndpoint(ResourceEndpoint.outgoing_invoices);
        Ausgangsrechnung OutgoingInvoice = await ApiService.GetByIdAsync<Ausgangsrechnung>(AusgangsrechnungID);

        OutgoingInvoice.ZugehoerigeAusgangsrechnungshistorie.Add(new()
            {
                Status = OutgoingInvoiceStatus.Sent,
                Zeitstempel = DateTime.Now,
                Benutzer = AuthenticatedUser.Identity?.Name
            });

        ToastService.Notify(
            new ToastMessage()
                {
                    Type = ToastType.Success,
                    IconName = IconName.FileEarmarkCheck,
                    Title = "Ausgangsrechnung",
                    HelpText = DateTime.Now.ToString(),
                    Message = "Ausgangsrechnung erfolgreich gesendet",
                }
        );

        await GetData();
    }

    protected void Create() => Navigation.NavigateTo("outgoing_invoices/create");
    protected void Edit(int AusgangsrechnungID) => Navigation.NavigateTo($"outgoing_invoices/{AusgangsrechnungID}/edit");
    protected void Show(int AusgangsrechnungID) => Navigation.NavigateTo($"outgoing_invoices/{AusgangsrechnungID}");

    protected async Task Delete(int AusgangsrechnungID)
    {
        await ApiService.DeleteAsync<Ausgangsrechnung>(AusgangsrechnungID);

        ToastService.Notify(
            new ToastMessage()
                {
                    Type = ToastType.Success,
                    IconName = IconName.FileEarmarkCheck,
                    Title = "Ausgangsrechnung",
                    HelpText = DateTime.Now.ToString(),
                    Message = "Ausgangsrechnung erfolgreich gelöscht",
                }
        );

        await GetData();
    }

    // Entity
    public IEnumerable<Ausgangsrechnung> OutgoingInvoices;

    private async Task GetData()
    {
        IsLoading = true;

        ApiService.InitializeEndpoint(ResourceEndpoint.outgoing_invoices);
        PaginationService.InitializePagination();

        OutgoingInvoices = await PaginationService.LoadPaginatetedData();
        IsLoading = false;
    }

    // Entity pagination
    private async Task GoToFirstPage()
    {
        OutgoingInvoices = await PaginationService.GoToPage(1);
    }

    private async Task GoToNextPage()
    {
        OutgoingInvoices = await PaginationService.GoToPage(PaginationService.CurrentPage + 1);
    }

    private async Task GoToPreviousPage()
    {
        OutgoingInvoices = await PaginationService.GoToPage(PaginationService.CurrentPage - 1);
    }

    private async Task GoToLastPage()
    {
        OutgoingInvoices = await PaginationService.GoToPage(PaginationService.TotalPages);
    }

    private async Task StatusChanged(OutgoingInvoiceStatus Status)
    {
        IsLoading = true;

        SelectedStatus = Status;

        PaginationService.InitializePagination();
        OutgoingInvoices = await PaginationService.LoadPaginatetedData(SelectedStatus);

        IsLoading = false;
    }
}