@page "/outgoing_invoices/{OutgoingInvoiceId:int}/edit"

@inject ApiService ApiService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService

@attribute [Authorize]

<PageTitle>Ausgangsrechnung bearbeiten | ACC Web UI</PageTitle>
<Card Class="shadow-sm mb-3">
    <CardBody>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Ausgangsrechnung bearbeiten</h1>
            <div class="btn-group" role="group" aria-label="Actions">
                <Button Type="ButtonType.Link" To="/outgoing_invoices" Color="ButtonColor.Primary"><Icon Name="IconName.BackspaceFill" /> Zurück</Button>
                <Button Type="ButtonType.Link" To="#" Color="ButtonColor.Primary"><Icon Name="IconName.Floppy" /> Speichern</Button>
            </div>
        </div>
        @if (IsLoading)
        {
            <div class="spinner-border ms-auto" aria-hidden="true"></div>
        }
        else
        {
            @if (OutgoingInvoice != null)
            {
                <div class="mb-3">
                    <label class="form-label">Rechnungsnummer:</label>
                    <InputText class="form-control" @bind-Value="OutgoingInvoice.RechnungsNummer" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Rechnungsdatum:</label>
                    <DateInput class="form-control" @bind-Value="OutgoingInvoice.RechnungsDatum" />
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <div class="row">
                                    <div class="col d-flex justify-content-start">
                                        Positionsbeschreibung
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <Button class="btn btn-primary btn-sm" @onclick="AddPosition"><Icon Name="IconName.BagPlus" /> Position hinzufügen</Button>
                                    </div>
                                </div>
                            </th>
                            <th>Steuersatz</th>
                            <th>Stueckpreis (Netto)</th>
                            <th>Stückzahl & Einheit</th>
                            <th>Positionspreis (Netto)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            Zwischensumme = 0;
                            Rabattsumme = 0;
                            Nettosumme = 0;
                            Mwstsumme = 0;
                            Bruttosumme = 0;
                        }
                        @foreach (Ausgangsrechnungsposition position in OutgoingInvoice.Rechnungspositionen)
                        {
                            <tr>
                                <td width="35%">
                                    <InputText class="form-control form-control-sm" @bind-Value="position.Positionsbeschreibung" />
                                    <div class="row mt-1">
                                        <div class="col">
                                            Leistungszeitraum:
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <DateInput class="form-control form-control-sm" @bind-Value="position.LeistungszeitraumVon" />
                                                <DateInput class="form-control form-control-sm" @bind-Value="position.LeistungszeitraumBis" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col">
                                            <label class="form-label">Leistungsnachweisposition:</label>
                                            @if (SelectedOrder?.AuftragID != 0)
                                            {
                                                @if (position.ZugehoerigeAuftragsposition.AuftragspositionID != 0)
                                                {
                                                    <InputSelect class="form-select form-select-sm" @bind-Value="position.ZugehoerigeLeistungsnachweispositionID">
                                                        @foreach (Leistungsnachweisposition performance_record_position in PerformanceRecordPositions)
                                                        {
                                                            <option value="@performance_record_position.LeistungsnachweispositionID">@performance_record_position.Kommentar</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <Badge Color="BadgeColor.Info"><Icon Name="IconName.ExclamationTriangleFill" /> Bitte wähle zuerst eine Auftragsposition aus</Badge>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div>
                                                    <Badge Color="BadgeColor.Info"><Icon Name="IconName.ExclamationTriangleFill" /> Bitte wähle zuerst einen Auftrag aus</Badge>
                                                </div>
                                            }
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Auftragsposition:</label>
                                            @if (SelectedOrder?.AuftragID != 0)
                                            {
                                                <InputSelect class="form-select form-select-sm" @bind-Value="position.ZugehoerigeAuftragspositionID">
                                                    @foreach (Auftragsposition order_position in SelectedOrder.Auftragspositionen)
                                                    {
                                                        <option value="@order_position.AuftragspositionID">@order_position.Positionsbezeichnung</option>
                                                    }
                                                </InputSelect>
                                            }
                                            else
                                            {
                                                <div>
                                                    <Badge Color="BadgeColor.Info"><Icon Name="IconName.ExclamationTriangleFill" /> Bitte wähle zuerst einen Auftrag aus</Badge>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td width="7%" style="vertical-align: bottom;">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" type="number" style="width: 20%; text-align: right" placeholder="Steuersatz" step="0.01" @bind-value="position.Steuersatz" />
                                        <input class="form-control form-control-sm" value="@(position.Steuersatz*100) %" style="text-align: right" disabled="disabled" />
                                    </div>
                                </td>
                                <td width="10%" style="vertical-align: bottom;">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" type="number" style="width: 70%; text-align: right" placeholder="Stückpreis (Netto)" @bind-value="position.StueckpreisNetto" />
                                        <input class="form-control form-control-sm" value="@OutgoingInvoice.ZugehoerigeWaehrung?.WaehrungZeichen" disabled="disabled" />
                                    </div>
                                </td>
                                <td width="11%" style="vertical-align: bottom;">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" type="number" style="width: 55%; text-align: right" placeholder="Stückzahl" @bind-value="position.Stueckzahl" />
                                        <InputSelect class="form-select form-select-sm" @bind-Value="position.ZugehoerigeAbrechnungseinheitID">
                                            @foreach (Abrechnungseinheit abrechnungseinheit in AccountingUnits)
                                            {
                                                <option value="@abrechnungseinheit.AbrechnungseinheitID">@abrechnungseinheit.Abkuerzung</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </td>
                                <td width="10%" style="vertical-align: bottom;">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" style="text-align: right; width: 70%" value="@position.Nettobetrag.ToString("N2")" disabled="true" />
                                        <input class="form-control form-control-sm" value="@OutgoingInvoice.ZugehoerigeWaehrung?.WaehrungZeichen" disabled="true" />
                                    </div>
                                </td>
                                <td width="5%" style="vertical-align: bottom;">
                                    <Button class="btn btn-danger btn-sm" @onclick="() => RemovePosition(position)">
                                        <Icon Name="IconName.Trash" />
                                    </Button>
                                </td>
                            </tr>
                            Zwischensumme += position.Nettobetrag;
                            Rabattsumme += position.Nettobetrag * OutgoingInvoice.RabattPct.GetValueOrDefault();
                            Mwstsumme += (position.Nettobetrag - (position.Nettobetrag * OutgoingInvoice.RabattPct.GetValueOrDefault())) * position.Steuersatz;
                        }
                        @if (@OutgoingInvoice.RabattPct != null)
                        {
                            <tr>
                                <td style="text-align: right;" colspan="4"><b>Zwischensumme (Netto):</b></td>
                                <td style="text-align: right;"><b>@Zwischensumme.ToString("N2") @OutgoingInvoice.ZugehoerigeWaehrung?.WaehrungZeichen</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align: right;" colspan="4">Rabatt (@(Math.Round((decimal)OutgoingInvoice.RabattPct * 100, 2)) %):</td>
                                <td style="text-align: right;">@Rabattsumme.ToString("N2") @OutgoingInvoice.ZugehoerigeWaehrung?.WaehrungZeichen</td>
                                <td></td>
                            </tr>
                        }
                        <tr>
                            @{
                                Nettosumme = Zwischensumme - Rabattsumme;
                            }
                            <td style="text-align: right;" colspan="4"><b>Gesamtpreis (Netto):</b></td>
                            <td style="text-align: right;"><b>@Nettosumme.ToString("N2") @OutgoingInvoice.ZugehoerigeWaehrung?.WaehrungZeichen</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;" colspan="4">Mehrwertsteuerbetrag:</td>
                            <td style="text-align: right;">@Mwstsumme.ToString("N2") @OutgoingInvoice.ZugehoerigeWaehrung?.WaehrungZeichen</td>
                            <td></td>
                        </tr>
                        <tr>
                            @{
                                Bruttosumme = Nettosumme + Mwstsumme;
                            }
                            <td style="text-align: right;" colspan="4"><b>Gesamtpreis (Brutto):</b></td>
                            <td style="text-align: right;"><b>@Bruttosumme.ToString("N2") @OutgoingInvoice.ZugehoerigeWaehrung?.WaehrungZeichen</b></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            }
        }
    </CardBody>
</Card>

@code {
    [Parameter]
    public int OutgoingInvoiceId { get; set; }

    private Ausgangsrechnung OutgoingInvoice;

    private Auftrag SelectedOrder;

    private ClaimsPrincipal AuthenticatedUser;

    private List<Leistungsnachweisposition> PerformanceRecordPositions;
    private IEnumerable<Kostenstelle> CostCentres;
    private IEnumerable<Auftrag> Orders;
    private IEnumerable<Abrechnungseinheit> AccountingUnits;
    private IEnumerable<Waehrung> Currencies;

    private bool IsLoading = true;
    private bool AdressDifferent = false;

    private decimal Zwischensumme = 0;
    private decimal Rabattsumme = 0;
    private decimal Nettosumme = 0;
    private decimal Mwstsumme = 0;
    private decimal Bruttosumme = 0;

    protected override async Task OnInitializedAsync()
    {
        ApiService.InitializeEndpoint(ResourceEndpoint.outgoing_invoices);
        OutgoingInvoice = await ApiService.GetByIdAsync<Ausgangsrechnung>(OutgoingInvoiceId);

        ApiService.InitializeEndpoint(ResourceEndpoint.cost_centres);
        ApiResponseDTO<Kostenstelle> cost_centres = await ApiService.GetAsync<ApiResponseDTO<Kostenstelle>>();
        CostCentres = cost_centres.Items;

        ApiService.InitializeEndpoint(ResourceEndpoint.accounting_units);
        ApiResponseDTO<Abrechnungseinheit> accounting_units = await ApiService.GetAsync<ApiResponseDTO<Abrechnungseinheit>>();
        AccountingUnits = accounting_units.Items;

        ApiService.InitializeEndpoint(ResourceEndpoint.currencies);
        ApiResponseDTO<Waehrung> currencies = await ApiService.GetAsync<ApiResponseDTO<Waehrung>>();
        Currencies = currencies.Items;

        IsLoading = false;
    }

    private void Save()
    {
        ApiService.InitializeEndpoint(ResourceEndpoint.outgoing_invoices);

    }

    private void AddPosition()
    {

        OutgoingInvoice.Rechnungspositionen.Add(new Ausgangsrechnungsposition()
            {
                ZugehoerigeAbrechnungseinheit = new(),
                ZugehoerigeKostenstelle = new()
            });
    }

    private void RemovePosition(Ausgangsrechnungsposition position)
    {
        OutgoingInvoice.Rechnungspositionen.Remove(position);
    }
}
